@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



body{background-color: rgb(224, 224, 233);}
        h1{color: rgb(20, 9, 9);
        font-family: "Roboto", sans-serif ;}
        p{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
        p{color: rgb(255, 255, 255);}
        h2{color: rgb(197, 132, 132);}


        body{
          font-family: "Roboto", sans-serif;
         background-image: url(My\ image.png);
        height: 170vh;
        background-repeat: no-repeat;
        background-size: cover;
        backface-visibility: hidden;
        background-position: center;
      }

      nav ul {
  list-style: none;   /* remove bullets */
  padding: 0;
  margin: 0;
  
}

nav ul li {
  display: inline;    /* make list items inline */
  margin-right: 15px; /* space between items */
}

nav ul li a {
  text-decoration: none; 
  color: black;       /* change to any color you like */
}







a:link {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(240, 238, 238);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(207, 120, 192);
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: rgb(0, 0, 0);
  background-color: transparent;
  text-decoration: underline;
  animation: infinite;
}